<app-header></app-header>

<div class="Posts">

    <div class="post">
        <div class="postTitle">Title</div>
        <div class="userDescription">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio incidunt eaque officia voluptatibus ab asperiores cupiditate non.</div>
        <div class="postFooter">
            <div class="userName">kvazar</div>
            <div class="datetime">03.03.2018</div>
        </div>
    </div>

    <button class="button" (click)="addPostModal()">Add Post</button>

    <div id="addPost-modal">
      <form> <!-- (submit)="addPost(newTitlePost.value, newTextPost.value)" -->
          <input type="text" name="newTitlePost" placeholder="Title post" #newTitlePost>
          <textarea type="text" name="newTextPost" placeholder="Text post" #newTextPost></textarea>
          <button class="button" type="button" (click)="addPost($event, newTitlePost.value, newTextPost.value)" (click)="addPostModal()">Send</button>
          <!-- (click)="addPost($event, newTitlePost.value, newTextPost.value)" -->
      </form>
    </div>
</div>
